.App {
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  color: white;
  display: flex;
  position: relative;
  /* background-image: url("./test.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: tomato;
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* padding: 20px; */
  margin: 10px;
}

.column-main {
  min-width: 350px;
  color: black;
  padding: 10px;
  padding-bottom: 50px !important;
  align-items: center;
  /* transition: height 4s; */
  background-color: #ebecf0;
}

.drag-over {
  height: var(--c);
}

.box {
  border-radius: 3px;
}

.column-container {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  margin: 10px;
}

.card-main {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bannerColor);
  min-width: 100px;

  min-height: 150px;
  cursor: pointer;
}

.add-column-main {
  height: 30px;
  width: 150px;
  background-color: rgba(231, 235, 235, 0.568);
  padding-left: 10px;
  padding-right: 30px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mrg5 {
  margin-left: 5px;
}

.add-column-label {
  margin-left: 5px;
}

.column-title-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin: 10px; */
}

.column-title {
  font-weight: bold;
  color: #5f5f5f;
}

.card-editView {
  height: 500px;
  width: 1000px;
}

.edit-container {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: #06060682;
}

.editView-content {
  display: flex;
  flex-direction: column;
  background-color: rgba(238, 238, 238, 0.945);
  height: 100%;
}

.card-editView-title {
  width: 100%;
  height: 150px;
  background-color: var(--banner);
}

.close-container {
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b4b4b44f;
  margin: 5px;
  cursor: pointer;
}

.close-container:hover {
  background-color: #b4b4b48e;
}

.closeIcon {
  color: #4e4e4e;
}

.card-maincontent {
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.card-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.common-input {
  height: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  text-align: left;
}

.inputContents {
  float: left;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.titleContent {
  margin-bottom: 10px;
  height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  /* padding-left: 10px; */
  font-weight: bold;
  font-size: 1.1em;
}

.description {
  margin-bottom: 10px;
  min-height: 50px;
  text-align: left;
  display: flex;
}

.saveButton-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.saveButton {
  margin: 20px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #aaeafc;
  cursor: pointer;
}

.saveButton:hover {
  background-color: #9ce7fc;
}

.editable {
  background-color: white;
}

.menu {
  cursor: pointer;
  color: #b3b3b3;
}

.icon-container {
  display: flex;
}

.add-card-container {
  height: 100px;
  width: 190px;
  background-color: #69696996;
  /* padding: 10px; */
}

.addCard-input {
  height: 50px;
  width: 90%;
  margin: 10px;
  border-radius: 5px;
  border: none;
  text-align: left;
}

.add-card-button {
  width: 50px;
  margin-right: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.save {
  background-color: #aaeafc;
}

.colorBox-container {
  display: flex;
  align-items: center;
}

.colorBox {
  height: 35px;
  width: 50px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: var(--d);
  cursor: pointer;
}

.selectedColor {
  border: 2px solid #0094ff;
}

/* popup */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 100%;
  height: 100%;
  /* background-color: #555; */
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* padding: 8px 0; */
  position: absolute;
  z-index: 1;
  /* bottom: -200%; */
  /* left: 50%; */
  margin-left: -100px;
}

Popup arrow .popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
